.introduction
    overflow: hidden
    display: flex
    align-items: flex-end
    justify-content: center
    height: 100vh
    width: 100vw
    position: relative
    background: #000
    overflow-x: hidden
    background-color: black
    background-size: cover
    background-position: center center
    background-repeat: no-repeat

    .container
        z-index: 1
        padding: 0
        overflow: hidden
        +mobile
            justify-content: flex-end
        h1
            position: absolute
            top: 50%
            transform: translateY(-36%)
            left: 25%
            color: $white
            max-width: 740px
            z-index: 10
            +mobile
                max-width: 250px
                font-size: 50px
                line-height: 70px
                left: 20px
            +tablet
                max-width: 250px
                font-size: 50px
                line-height: 70px
                left: 20px

    &__animation
        width: 100vw
        z-index: 0
        display: flex
        overflow: hidden

    &__video   
        overflow: hidden
        width: 100vw
        transform: translateY(10%)
        +mobile
            overflow: visible
            width: 365vw
            transform: translateX(-66%) !important
        +tablet
            overflow: visible
            width: 365vw
            transform: translateX(-47%)

.about
    .container
        padding-top: 192px
        +mobile
            padding-top: 55px
            padding-bottom: 30px
    &__items
        width: 100%
        display: flex
        justify-content: center
        margin-top: 32px
        padding-bottom: 126px
        +mobile
            flex-direction: column
            margin-top: 0px
            padding-bottom: 82px
            padding-left: 16px
            padding-right: 16px
    &__item
        max-width: 376px
        width: 100%
        position: relative
        padding-left: 36px
        padding-top: 80px
        padding-bottom: 80px
        padding-right: 36px
        margin-left: 5px
        margin-right: 5px

        +desktop
            &:hover .about__animation
                opacity: 1
            &:hover .about__item-title
                color: $white
            &:hover .text
                color: $white
        +mobile
            margin-bottom: 10px
            margin-top: 0
            padding-bottom: 0px
            padding-top: 20px
        &-count
            background: -webkit-linear-gradient(#48BBF0, #1B63A6)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            font-weight: bold
            font-size: 16px
            line-height: 30px
            letter-spacing: 0.05em
            position: absolute
            top: 82px
            left: 0px
            +mobile
              top: 22px
        &-title
            font-size: 24px
            line-height: 36px
            font-weight: bold
            letter-spacing: 0.02em
            text-transform: uppercase
            margin-bottom: 28px
            transition: all .3s

            +mobile
                margin-bottom: 13px
    &__animation
        z-index: -1
        position: absolute
        opacity: 0
        top: 0
        right: 0
        transition: opacity .3s
        width: 412px

        &:after
            content: ''
            display: block
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            z-index: 1
            background: rgba(#1A1A1A, 0.75)
        // transform: translate3d(-50%, 0px, 0px)
        img
            width: 100%
            position: relative
            z-index: 0
            display: block
        +mobile
            display: none

.our-process
    padding-top: 270px
    padding-bottom: 200px
    background: $black
    min-height: 1400px
    box-sizing: border-box
    overflow: hidden
    +mobile
        min-height: 900px
        padding-bottom: 50px
    .container
        position: relative
    &__bg
        position: absolute
        top: 0
        right: -35px
        opacity: 0.7
        +mobile
            display: none
    &__title
        font-size: 74px
        color: $white
        text-transform: uppercase
        font-weight: bold
        position: absolute
        left: -100px
        top: -80px
        transform: rotate(-90deg) translate(-50%, -140px)
        transform-origin: center
        z-index: 33
        +mobile
            transform: rotate(0deg) translate(0, 0)
            position: relative
            left: 0
            text-align: center
            top: -180px
            font-size: 42px
            line-height: 60px
        +smallMobile
            font-size: 38px
    &__figure
        position: absolute
        left: 0
        right: 0
        top: -80px
        svg
            max-height: 1080px
        +mobile
            transform: translate(-140px, 0)
            margin: auto
            svg
                max-height: 800px
        +smallMobile
            transform: translate(-90px, 0)
            svg
                max-height: 760px
    &__block
        position: relative
        min-height: 200px
        display: flex
        justify-content: flex-end
        margin-left: 45px
        +mobile
            margin-left: 0
            transform: translate(7px, -83px)
            min-height: 128px
        &.is-topper
            margin-left: 0
        &-title
            position: relative
            position: absolute
            color: $white
            max-width: 110px
            right: 715px
            top: -58px
            font-weight: bold
            font-size: 16px
            line-height: 30px
            letter-spacing: 0.05em
            text-transform: uppercase
            text-align: right
            transform: translate(-88px, 0)
            &:after
                display: block
                position: absolute
                background: $white
                height: 1px
                width: 90px
                content: ''
                left: 140px
                top: 15px
                transition: .3s
                +mobile
                    width: 39px
                    left: -50px
            &.isBottom
              right: 732px
              top: 943px
              +mobile
                right: 4px
                top: 634px
            &.isCenter
              +mobile
                right: -28px
                top: -83px
                
            +mobile
                top: -40px
                right: auto
                text-align: left
        &:hover
            &-item:after
                background: $white
            .our-process__block-list
                color: $white
            .our-process__block-list li
                color: $white
            .our-process__block-list:after
                background: $white
    &__block-list
        position: relative
        width: 100%
        max-width: 100%
        margin: 0
        padding: 0
        font-size: 16px
        color: #4D4D4D
        line-height: 30px
        transition: .3s
        position: absolute
        top: 20px
        left: 770px
        +mobile
            top: 0
            left: 0
            right: 0
            margin: auto
            transform: translate(70px, 0)
            max-width: 200px
            font-size: 10px
            line-height: 24px
            color: $white
        +smallMobile
            max-width: 160px
            left: auto
            transform: translate(0, 0)
            position: relative
            margin-left: auto
            margin-right: 0
            margin-top: -5px
            margin-bottom: 20px
        &:after
            display: block
            position: absolute
            background: #4D4D4D
            height: 1px
            width: 90px
            content: ''
            top: 14px
            left: -120px
            transition: .3s
            +mobile
                width: 24px
                left: -37px
        li
            position: relative
            padding-left: 14px
            &:after
                display: block
                width: 4px
                height: 4px
                content: ''
                position: absolute
                left: 0
                top: 12px
                background: #4D4D4D
                border-radius: 50%
                transition: .3s
    &__block-divider
        height: 100px
        +mobile
            height: 122px
        +smallMobile
            height: 125px

.services
    .container
        position: relative
        padding-top: 201px
        padding-bottom: 288px
        h2
            margin-bottom: 64px
            +mobile
                margin-bottom: 52px
        .text
            max-width: 530px
            margin-bottom: 18px
        +mobile
            padding-top: 133px
            padding-bottom: 340px
    .mobile
        display: none
        +mobile
            display: block
    .desktop
        display: block
        +mobile
            display: none
    &__left
        max-width: 668px
    &__rectangle
        position: absolute
        top: 144px
        right: -200px
        +mobile
            background: $white
            z-index: -1
            opacity: 0.5
            transform: matrix(-1, 0, 0, 1, 0, 0)
            right: 0
            top: auto
            bottom: 127px
    &__figure
        position: absolute
        bottom: 200px
        right: 26px
        +mobile
            right: 76px
            bottom: 68px
            img
                max-width: 240px
.new-team
    background: $black
    padding-bottom: 140px
    +mobile
        padding-bottom: 60px
    .container
        padding-top: 24px
        h1
            text-align: center
            color: $white
        .text
            color: $white
            margin-bottom: 16px
    &__members
        margin-top: 10px
        position: relative
        display: flex
        justify-content: center
        +mobile
            flex-direction: column
            align-items: center

    &__member
        position: relative
        max-width: 550px
        width: 100%
        margin-left: 25px
        margin-right: 25px
        +mobile
            flex-direction: column
    &__content
        padding-left: 25px
        position: relative
        z-index: 1
        top: -80px
    &-photo
        width: 100%
        height: 500px
        position: relative
        z-index: 0
        & > img
            max-width: 100%
            margin-left: -6px
        +mobile
            margin: 0 auto
            padding-bottom: 100px
    &-social
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 22px
        max-width: 400px
        align-items: start
        +mobile
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 23px
            max-width: 53vw
            align-items: center
        img
            display: block
            max-height: 36px
            max-width: 100px
            +mobile
                max-width: 97px
    &-name
        font-weight: bold
        font-size: 42px
        line-height: 60px
        margin-bottom: 22px
        max-width: 400px
        text-transform: uppercase
        color: $white
        +mobile
            font-size: 34px
            line-height: 1.3
    &-descr
        width: 100%
        position: relative
        z-index: 1
        p
            display: block
            padding-bottom: 30px
            font-size: 16px
            font-weight: 400
            line-height: 26px
            letter-spacing: 0.32px

    &-count
        font-weight: bold
        font-size: 24px
        line-height: 36px
        letter-spacing: 0.48px
        text-transform: uppercase
        background: -webkit-linear-gradient(#48BBF0, #1B63A6)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        transform: rotate(-90deg)
        position: absolute
        left: -40px
        bottom: 20px
        +mobile
            bottom: 80px
            transform-origin: 0 0
            left: 16px
            transform: rotate(-90deg)

.team
    background: $black
    .container
        padding-top: 24px
        h1
            text-align: center
            color: $white
        .text
            color: $white
            margin-bottom: 16px
    &__nav
        position: absolute
        right: 0
        bottom: 110px
        display: flex
        z-index: 1
    &__nav-item
        padding: 10px
        cursor: pointer
        transition: .3s
        opacity: 0.8
        &:hover
            opacity: 1
        svg
            fill: $white
    &__members
        margin-top: 10px
        position: relative
        margin-left: -20px
        margin-right: -20px
        width: calc(100% + 40px)
        +mobile
            width: calc(100% + 32px)
            margin-left: -16px
            margin-right: -16px
    &__member
        position: relative
        display: flex
        justify-content: space-between
        padding-left: 16px
        padding-right: 16px
        +mobile
            flex-direction: column
        &-photo
            max-width: 525px
            width: 100%
            position: relative
            & > img
                max-width: 100%
            +mobile
                margin: 0 auto
                padding-bottom: 100px
        &-social
            position: absolute
            display: flex
            justify-content: flex-start
            align-items: center
            flex-wrap: wrap
            bottom: 135px
            +mobile
                bottom: 110px
            img
                display: block
                margin-right: 14px
                max-height: 40px
                +mobile
                    max-width: 100px
        &-name
            position: absolute
            max-width: 300px
            left: 0
            bottom: 230px
            font-weight: bold
            font-size: 48px
            line-height: 72px
            text-transform: uppercase
            color: $white
            +mobile
                font-size: 42px
                line-height: 60px
                bottom: 200px
        &-descr
            width: 100%
            max-width: 540px
            margin-top: 126px
            margin-left: 35px
            position: relative
            z-index: 1
            +mobile
                margin-top: -60px
                max-width: 100%
                margin-left: auto
                margin-right: auto
        .read-more-button
            font-weight: 700
            color: #fff
            display: inline-block
            padding-top: 1px
            padding-bottom: 1px
            border-bottom: 1px solid #fff
            letter-spacing: 0.32px

        &-count
            margin-top: 75px
            font-weight: bold
            font-size: 16px
            line-height: 30px
            letter-spacing: 0.05em
            text-transform: uppercase
            color: $white
            +mobile
                margin-top: 50px
                margin-bottom: 120px
            span
                background: -webkit-linear-gradient(#48BBF0, #1B63A6)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                font-weight: bold
                font-size: 16px
                line-height: 30px
                letter-spacing: 0.05em
                padding-right: 16px

.contact
    .loader
        display: flex
        justify-content: center

    overflow: hidden
    &__form-email
        border: 1px solid #b3b3b3
    &__form-goal
        border: 1px solid #b3b3b3
    &__form-textarea
        border: 1px solid #b3b3b3
    &__bcg
        content: ''
        width: 2000px
        height: 100%
        position: absolute
        background: #000 right center no-repeat
        margin: auto
        transform: translate(50%, 0)
        right: calc( 50% + 1400px )
        overflow: hidden
        img
            margin-left: auto
            display: block
            +mobile
                max-width: 100%
        &-img        
          width: '100%',
          background-size: contain,
          background-repeat: no-repeat
          height: 100rem
          background-color: black
          +mobile
             background-position: 11rem -1rem
             height: 100rem
          +desktop
             background-position: 101rem -1rem
             height: 60rem
          +desktopXL
             background-position: 92rem -1rem
             height: 60rem
        +mobile
            max-width: 100%
            height: 216px
            transform: translate(0, 0)
            right: 0
            left: 0
            bottom: 0
    .container
        position: relative
        display: flex
        justify-content: flex-end
        padding-bottom: 216px
        h1
            margin-top: 50px
            margin-bottom: 58px
            text-align: left
        .text
            max-width: 740px
        h5
            font-weight: bold
            font-size: 16px
            line-height: 30px
            letter-spacing: 0.05em
            text-transform: uppercase
            margin-top: 43px
            margin-bottom: 16px
        img
            margin-top: 85px
            width: 100%
            height: auto
        // &::after
        //     content: ''
        //     width: 2000px
        //     height: 100%
        //     position: absolute
        //     background: #000 url('../images/contact-img.svg') right center no-repeat
        //     margin: auto
        //     transform: translate(50%, 0)
        //     right: calc( 50% + 1400px )
        //     +mobile
        //         max-width: 100%
        //         height: 216px
        //         transform: translate(0, 0)
        //         right: 0
        //         left: 0
        //         bottom: 0
        +mobile
            justify-content: center
            padding-bottom: 303px
            padding-top: 60px
    &__form-field
        flex: 1 auto
        margin-left: 15px
        margin-right: 15px
        margin-bottom: 30px
        max-width: 50%
        position: relative
        z-index: 1
        +mobile
            max-width: 100%
        &.is-textarea
            width: 100%
            max-width: 100%
        .input-border
            position: absolute
            left: 0
            right: 0
            bottom: 0
            top: 0
            z-index: -1
            &:after
                position: absolute
                left: -1px
                right: -1px
                top: -1px
                bottom: -1px
                transition: .3s
                background: $gray
                content: ''
                display: block
            &:before
                position: absolute
                left: 2px
                right: 2px
                top: 2px
                bottom: 2px
                background: $white
                content: ''
                display: block
                z-index: 1
    &__form
        margin-top: 11px
        max-width: 740px
        margin-left: -15px
        margin-right: -15px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        label
            position: relative
            width: 100%
            margin-bottom: 30px
            &::after
                width: 10px
                height: 8px
                content: ''
                position: absolute
                background: url('../images/select-arrow.svg') no-repeat
                right: 27px
                margin: auto
                top: 0
                bottom: 0
                z-index: -1
        select
            height: 60px
            width: 100%
            border: 1px solid $gray
            font-family: 'Red Hat Display'
            box-sizing: border-box
            background: transparent
            font-size: 16px
            line-height: 26px
            letter-spacing: 0.02em
            padding: 0 17px
            -moz-appearance: none
            -webkit-appearance: none
            position: relative
            z-index: 1
            cursor: pointer
            option
                font-size: 16px
                line-height: 26px
                letter-spacing: 0.02em
        input
            width: 100%
            height: 60px
            box-sizing: border-box
            padding: 17px
            font-family: 'Red Hat Display'
            &::placeholder
                font-size: 16px
                line-height: 26px
                letter-spacing: 0.02em
                color: $black
            &:focus + .input-border:after
                background: linear-gradient(90deg, #48BBF0 0%, #1B63A6 100%)
        textarea
            width: 100%
            height: 120px
            padding: 17px
            margin: 0
            font-family: 'Red Hat Display'
            box-sizing: border-box
            font-size: 16px
            line-height: 26px
            letter-spacing: 0.02em
            color: $black
            resize: none
            display: block
            &::placeholder
                font-size: 16px
                line-height: 26px
                letter-spacing: 0.02em
                color: $black
            &:focus + .input-border:after
                background: linear-gradient(90deg, #48BBF0 0%, #1B63A6 100%)
        button
            background: $black
            text-align: center
            text-transform: uppercase
            color: $white
            font-weight: bold
            font-size: 16px
            line-height: 60px
            letter-spacing: 0.05em
            padding: 0 60px
            border: none
            font-family: 'Red Hat Display'
            margin-left: 15px
            svg
                margin-left: 18px
                fill: $white
                transition: .3s
            &:hover svg
                transform: translate(20px, 0px)

.vacancies
    +desktop
        margin-bottom: 144px
    .container
        padding-top: 152px
        padding-bottom: 144px
        position: relative
        color: $white
        display: flex
        flex-direction: column
        justify-content: center
        +mobile
            padding-top: 120px
            padding-bottom: 120px
        h1
            color: $white
            margin-bottom: 57px
        &::after
            max-width: 100vw
            height: 100%
            margin: auto
            background: $black
            content: ''
            position: absolute
            left: -100px
            right: -100px
            top: 0
            bottom: 0
            z-index: -1
            +mobile
                left: 0
                right: 0
        &__button
            background: $white
            text-align: center
            text-transform: uppercase
            color: $black
            font-weight: bold
            font-size: 16px
            line-height: 60px
            letter-spacing: 0.05em
            padding: 0 60px
            border: none
            margin-left: auto
            margin-right: auto
            svg
                margin-left: 18px
                fill: $black
                transition: .3s
            &:hover svg
                transform: translate(20px, 0px)
    &__items
        margin-bottom: 90px
        +mobile
            margin-bottom: 50px
          
    &__item
        border-bottom: 1px solid #4D4D4D
        padding-bottom: 10px
        margin-bottom: 50px
        &:last-child
            margin-bottom: 0
        +mobile
            margin-bottom: 30px
    &__descr
        display: flex
        justify-content: space-between
        flex-direction: column
        margin-left: 36px
        max-height: 0
        overflow: hidden
        transition: .3s

        .is-active &
            max-height: 5000px
            overflow: visible
        +mobile
            flex-direction: column
            margin-left: 42px
        h5
            font-weight: bold
            font-size: 16px
            line-height: 30px
            letter-spacing: 0.05em
            text-transform: uppercase
            margin-bottom: 16px
        .text
            color: $white
            padding-bottom: 40px
        .hidden
            color: #1a1a1a
            +mobile
                display: none
        ul
            list-style-type: disc
            font-size: 16px
            letter-spacing: .02em
            line-height: 26px
        li
            margin-bottom: 10px
        &__title
            color: $white
            font-size: 16px
            +mobile
                margin-bottom: 30px
        &__subtitle
            color: $white
            font-size: 16px
            margin-bottom: 30px
            &-position
                margin-bottom: 30px
                +mobile
                    margin-top: 20px
                    margin-bottom: 30px
            &-location
                margin-bottom: 70px
                +mobile
                    margin-bottom: 30px
        &-top
          display: flex
          flex-direction: row
          +mobile
              flex-direction: column-reverse
        &-middle
            display: flex
            flex-direction: row
            justify-content: space-between
            gap: 96px
            margin-bottom: 41px
            +mobile
                flex-direction: column
                gap: 0px
        &-bottom
            display: flex
            flex-direction: row
            justify-content: space-between
            gap: 96px
            +mobile
                flex-direction: column
                gap: 0px

        &-left
            flex: 1 auto
            padding-right: 60px
            &-top
                width: 50%
                +mobile
                    width: 100%
            &-middle
                width: 50%
                +mobile
                    width: 100%
            &-bottom
                width: 50%
                +mobile
                    width: 100%
        &-right
            flex: 1 auto
            max-width: 340px
            &-top
                width: 50%
                +mobile
                    width: 100%
            &-middle
                width: 50%
                +mobile
                    width: 100%
            &-bottom
                width: 50%
                +mobile
                    width: 100%
            span
                font-weight: bold
            .inquireEmail
                border: 1px solid white
                padding-block: 25px
                padding-inline: 25px
                +mobile
                    margin-bottom: 30px
                    padding-inline: 24px
                    font-size: 15px
                    overflow: visible
                    transform: translateX(-20px)
    &__title
        position: relative
        font-weight: bold
        font-size: 24px
        line-height: 36px
        letter-spacing: 0.02em
        text-transform: uppercase
        display: flex
        align-items: center
        padding-bottom: 41px
        cursor: pointer
        text-wrap: balance
        padding-right: 45px
        +mobile
            font-size: 20px
            padding-bottom: 20px

        span
            background: -webkit-linear-gradient(#48BBF0, #1B63A6)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            font-weight: bold
            font-size: 16px
            line-height: 30px
            letter-spacing: 0.05em
            padding-right: 18px
    &__icon
        width: 30px
        height: 30px
        position: absolute
        top: 0
        bottom: 0
        right: 0
        &::after,
        &::before
            content: ''
            width: 30px
            height: 2px
            background: $white
            display: block
            transform-origin: 50% 50%
            position: absolute
            transition: .3s
            left: 0
            right: 0
            top: 0
            bottom: 0
            margin: auto
        &::before
            transform: rotate(90deg)
        .is-active &::before
            transform: rotate(0)

.about-us
    width: 100%
    overflow: hidden
    .container
        position: relative
        padding-top: 192px
        padding-bottom: 166px
        h1
            margin-bottom: 57px
            +mobile
                margin-bottom: 52px
        h5
            font-weight: bold
            font-size: 24px
            line-height: 36px
            letter-spacing: 0.02em
            text-transform: uppercase
            margin-bottom: 40px
        .text
            max-width: 530px
            margin-bottom: 43px
        +mobile
            padding-top: 50px
            padding-bottom: 340px
    .mobile
        display: none
        +mobile
            display: block
    .desktop
        display: block
        +mobile
            display: none
    &__left
        max-width: 740px
    &__rectangle
        position: absolute
        top: 144px
        right: -300px
        background: $white
        opacity: 0.5
        +mobile
            background: $white
            z-index: -1
            opacity: 0.3
            transform: matrix(-1, 0, 0, 1, 0, 0)
            right: -89px
            top: auto
            bottom: 331px
            // img
            //     max-width: 259px
    &__triangle
        position: absolute
        bottom: 124px
        right: -40px
        +mobile
            right: 76px
            bottom: 119px
            width: 230px
            img
                max-width: 240px
