.introduction
    background-image: url('../images/bg.png')
    background-size: cover
    background-position: 50% 50%
    background-repeat: no-repeat
    position: relative
    .container
        height: 100%
        display: flex
        flex-direction: column
        min-height: 100vh
        justify-content: center
        +mobile
            justify-content: flex-end
            padding-bottom: 93px
        h1
            color: $white
            max-width: 740px
            +mobile
                font-size: 42px
                line-height: 60px

.about
    .container
        padding-top: 192px
        padding-bottom: 126px
        +mobile
            padding-top: 128px
            padding-bottom: 82px
    &__items
        width: 100%
        display: flex
        justify-content: space-between
        margin-top: 32px
        +mobile
            flex-direction: column
            margin-top: 83px
    &__item
        margin-top: 80px
        max-width: 340px
        position: relative
        padding-left: 40px
        flex: 1 auto
        +mobile
            margin-bottom: 55px
            margin-top: 0
        &-count
            background: -webkit-linear-gradient(#48BBF0, #1B63A6)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            font-weight: bold
            font-size: 16px
            line-height: 30px
            letter-spacing: 0.05em
            position: absolute
            top: 4px
            left: 0
        &-title
            font-size: 24px
            line-height: 36px
            font-weight: bold
            letter-spacing: 0.02em
            text-transform: uppercase
            margin-bottom: 28px

.our-process
    padding-top: 270px
    padding-bottom: 200px
    background: $black
    min-height: 1400px
    box-sizing: border-box
    overflow: hidden
    .container
        position: relative
    &__bg
        position: absolute
        top: 0
        right: 0
        opacity: 0.7
        +mobile
            display: none
    &__title
        font-size: 74px
        color: #fff
        text-transform: uppercase
        font-weight: bold
        position: absolute
        left: -100px
        top: -80px
        transform: rotate(-90deg) translate(-50%, -140px)
        transform-origin: center
        z-index: 33
        +mobile
            transform: rotate(0deg) translate(0, 0)
            position: relative
            left: 0
            text-align: center
            top: -180px
            font-size: 42px
            line-height: 60px
    &__figure
        position: absolute
        left: 0
        right: 0
        top: -80px
        +mobile
            transform: translate(-100px, 0)
    &__block
        position: relative
        height: 200px
        display: flex
        justify-content: flex-end
        margin-left: 45px
        +mobile
            margin-left: 0
            transform: translate(7px, -83px)
        &.is-topper
            margin-left: 0
            +mobile
                margin-bottom: 48px
        &-title
            position: relative
            position: absolute
            color: #FFF
            max-width: 110px
            right: 715px
            top: 9px
            font-weight: bold
            font-size: 16px
            line-height: 30px
            letter-spacing: 0.05em
            text-transform: uppercase
            text-align: right
            transform: translate(-88px, 0)
            &:after
                display: block
                position: absolute
                background: #FFF
                height: 1px
                width: 90px
                content: ''
                left: 140px
                top: 15px
                transition: .3s
                +mobile
                    width: 39px
                    left: -50px
            +mobile
                top: -33px
                right: auto
                text-align: left
        &:hover
            &-item:after
                background: #fff
            .our-process__block-list
                color: #fff
            .our-process__block-list li
                color: #fff
            .our-process__block-list:after
                background: #fff
    &__block-list
        position: relative
        width: 100%
        max-width: 100%
        margin: 0
        padding: 0
        font-size: 16px
        color: #4D4D4D
        line-height: 30px
        transition: .3s
        position: absolute
        top: 20px
        left: 770px
        +mobile
            top: 37px
            left: auto
            max-width: 200px
        &:after
            display: block
            position: absolute
            background: #4D4D4D
            height: 1px
            width: 90px
            content: ''
            top: 14px
            left: -120px
            transition: .3s
            +mobile
                width: 24px
                left: -37px
        li
            position: relative
            padding-left: 14px
            &:after
                display: block
                width: 4px
                height: 4px
                content: ''
                position: absolute
                left: 0
                top: 12px
                background: #4D4D4D
                border-radius: 50%
                transition: .3s
    &__block-divider
        height: 100px
        +mobile
            height: 50px

.services
    .container
        position: relative
        padding-top: 201px
        padding-bottom: 288px
        h2
            margin-bottom: 64px
            +mobile
                margin-bottom: 52px
        .text
            max-width: 530px
            margin-bottom: 18px
        +mobile
            padding-top: 133px
            padding-bottom: 340px
    .mobile
        display: none
        +mobile
            display: block
    .desktop
        display: block
        +mobile
            display: none
    &__left
        max-width: 668px
    &__rectangle
        position: absolute
        top: 144px
        right: -200px
        +mobile
            background: #FFFFFF
            z-index: -1
            opacity: 0.5
            transform: matrix(-1, 0, 0, 1, 0, 0)
            right: 0
            top: auto
            bottom: 127px
            // img
            //     max-width: 259px
    &__figure
        position: absolute
        bottom: 200px
        right: 26px
        +mobile
            right: 76px
            bottom: 68px
            img
                max-width: 240px

.team
    background: $black
    .container
        padding-top: 24px
        h1
            text-align: center
            color: $white
        .text
            color: $white
            margin-bottom: 16px
    &__nav
        position: absolute
        right: 0
        bottom: 110px
        display: flex
        z-index: 1
    &__nav-item
        padding: 10px
        cursor: pointer
        transition: .3s
        opacity: 0.8
        &:hover
            opacity: 1
        svg
            fill: #fff
    &__members
        margin-top: 10px
        position: relative
        margin-left: -20px
        margin-right: -20px
        width: calc(100% + 40px)
        +mobile
            width: calc(100% + 32px)
            margin-left: -16px
            margin-right: -16px
    &__member
        position: relative
        display: flex
        justify-content: space-between
        padding-left: 16px
        padding-right: 16px
        +mobile
            flex-direction: column
        &-photo
            max-width: 525px
            width: 100%
            position: relative
            & > img
                max-width: 100%
            +mobile
                margin: 0 auto
                padding-bottom: 100px
        &-social
            width: 90%
            position: absolute
            display: flex
            justify-content: space-between
            align-items: center
            flex-wrap: wrap
            bottom: 135px
            +mobile
                bottom: 110px
            img
                +mobile
                    max-width: 100px
        &-name
            position: absolute
            max-width: 300px
            left: 0
            bottom: 230px
            font-weight: bold
            font-size: 48px
            line-height: 72px
            text-transform: uppercase
            color: $white
            +mobile
                font-size: 42px
                line-height: 60px
                bottom: 200px
        &-descr
            width: 100%
            max-width: 540px
            margin-top: 126px
            margin-left: 35px
            position: relative
            z-index: 1
            +mobile
                margin-top: -60px
                max-width: 100%
                margin-left: auto
                margin-right: auto
        &-count
            margin-top: 75px
            font-weight: bold
            font-size: 16px
            line-height: 30px
            letter-spacing: 0.05em
            text-transform: uppercase
            color: $white
            +mobile
                margin-top: 50px
                margin-bottom: 120px
            span
                background: -webkit-linear-gradient(#48BBF0, #1B63A6)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                font-weight: bold
                font-size: 16px
                line-height: 30px
                letter-spacing: 0.05em
                padding-right: 16px

.contact
    overflow: hidden
    .container
        position: relative
        display: flex
        justify-content: flex-end
        padding-bottom: 216px
        h1
            margin-top: 50px
            margin-bottom: 58px
            text-align: left
        .text
            max-width: 740px
        h5
            font-weight: bold
            font-size: 16px
            line-height: 30px
            letter-spacing: 0.05em
            text-transform: uppercase
            margin-top: 43px
            margin-bottom: 16px
        img
            margin-top: 85px
        // .sent
        //     display: none
        &::after
            content: ''
            width: 2000px
            height: 100%
            position: absolute
            background: #000 url('../images/contact-img.svg') right center no-repeat
            margin: auto
            transform: translate(50%, 0)
            right: calc( 50% + 1400px )
            +mobile
                max-width: 100%
                height: 216px
                transform: translate(0, 0)
                right: 0
                left: 0
                bottom: 0
        +mobile
            justify-content: center
            padding-bottom: 303px
    &__form
        margin-top: 11px
        max-width: 740px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        label
            position: relative
            max-width: 354px
            width: 100%
            margin-bottom: 30px
            +mobile
                max-width: 100%
                margin-bottom: 30px
            &::after
                width: 10px
                height: 8px
                content: ''
                position: absolute
                background: url('../images/select-arrow.svg') no-repeat
                right: 27px
                margin: auto
                top: 0
                bottom: 0
                z-index: -1
        select
            max-width: 354px
            width: 100%
            height: 60px
            border: 1px solid $gray
            box-sizing: border-box
            background: transparent
            font-size: 16px
            line-height: 26px
            letter-spacing: 0.02em
            padding: 0 17px
            -moz-appearance: none
            -webkit-appearance: none
            position: relative
            z-index: 1
            cursor: pointer
            +mobile
                max-width: 100%
            option
                font-size: 16px
                line-height: 26px
                letter-spacing: 0.02em
        input
            max-width: 355px
            width: 100%
            height: 60px
            border: 1px solid $gray
            box-sizing: border-box
            padding: 17px
            margin-bottom: 30px
            +mobile
                max-width: 100%
                margin-bottom: 30px
            &::placeholder
                font-size: 16px
                line-height: 26px
                letter-spacing: 0.02em
                color: $black
        textarea
            max-width: 740px
            width: 100%
            height: 120px
            padding: 17px
            border: 1px solid $gray
            box-sizing: border-box
            font-size: 16px
            line-height: 26px
            letter-spacing: 0.02em
            color: $black
            margin-bottom: 60px
            +mobile
                margin-bottom: 48px
            &::placeholder
                font-size: 16px
                line-height: 26px
                letter-spacing: 0.02em
                color: $black
        button
            background: $black
            text-align: center
            text-transform: uppercase
            color: $white
            font-weight: bold
            font-size: 16px
            line-height: 60px
            letter-spacing: 0.05em
            padding: 0 60px
            border: none
            svg
                margin-left: 18px
                fill: $white

.vacancies
    .container
        padding-top: 192px
        padding-bottom: 294px
        position: relative
        padding: 0 -150px
        color: $white
        display: flex
        flex-direction: column
        justify-content: center
        +mobile
            padding-top: 120px
            padding-bottom: 120px
        h1
            color: $white
            margin-bottom: 57px
        &::after
            height: 100%
            background: $black
            content: ''
            position: absolute
            left: -100px
            right: -100px
            top: 0
            bottom: 0
            z-index: -1
        button
            background: $white
            text-align: center
            text-transform: uppercase
            color: $black
            font-weight: bold
            font-size: 16px
            line-height: 60px
            letter-spacing: 0.05em
            padding: 0 60px
            border: none
            margin-left: auto
            margin-right: auto
            svg
                margin-left: 18px
                fill: $black
    &__items
        margin-bottom: 90px
    &__item
        border-bottom: 1px solid #4D4D4D
        padding-bottom: 10px
        margin-bottom: 50px
        &:last-child
            margin-bottom: 0
    &__descr
        display: flex
        justify-content: space-between
        padding-left: 36px
        +mobile
            flex-direction: column
        h5
            font-weight: bold
            font-size: 16px
            line-height: 30px
            letter-spacing: 0.05em
            text-transform: uppercase
            margin-bottom: 16px
        .text
            color: $white
            padding-bottom: 40px
        &-left
            flex: 1 auto
            padding-right: 60px
        &-right
            max-width: 340px
            flex: 1 auto
    &__title
        position: relative
        font-weight: bold
        font-size: 24px
        line-height: 36px
        letter-spacing: 0.02em
        text-transform: uppercase
        display: flex
        align-items: center
        padding-bottom: 41px
        cursor: pointer
        span
            background: -webkit-linear-gradient(#48BBF0, #1B63A6)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            font-weight: bold
            font-size: 16px
            line-height: 30px
            letter-spacing: 0.05em
            padding-right: 18px
    &__icon
        width: 30px
        height: 30px
        position: absolute
        top: 0
        bottom: 0
        right: 0
        &::after,
        &::before
            content: ''
            width: 30px
            height: 2px
            background: $white
            display: block
            transform-origin: 50% 50%
            position: absolute
            left: 0
            right: 0
            top: 0
            bottom: 0
            margin: auto
        &::before
            transform: rotate(90deg)
        &.is-active::before
            transform: rotate(0)

.about-us
    .container
        position: relative
        padding-top: 192px
        padding-bottom: 166px
        h1
            margin-bottom: 57px
            +mobile
                margin-bottom: 52px
        h5
            font-weight: bold
            font-size: 24px
            line-height: 36px
            letter-spacing: 0.02em
            text-transform: uppercase
            margin-bottom: 40px
        .text
            max-width: 530px
            margin-bottom: 43px
        +mobile
            padding-top: 50px
            padding-bottom: 340px
    .mobile
        display: none
        +mobile
            display: block
    .desktop
        display: block
        +mobile
            display: none
    &__left
        max-width: 740px
    &__rectangle
        position: absolute
        top: 144px
        right: -200px
        background: #FFFFFF
        opacity: 0.5
        +mobile
            background: #FFFFFF
            z-index: -1
            opacity: 0.5
            transform: matrix(-1, 0, 0, 1, 0, 0)
            right: 0
            top: auto
            bottom: 127px
            // img
            //     max-width: 259px
    &__triangle
        position: absolute
        bottom: 124px
        right: -40px
        +mobile
            right: 76px
            bottom: 68px
            img
                max-width: 240px
