.background
    background-color: #1A1A1A
.privacy
    background-color: #1A1A1A
    color: white
    height: 100vw

    h1
        color: white
        font-size: 3rem
    h2
        color: white
        font-size: 2rem
